* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  /*
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  */
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.card{
  display: grid;
  grid-template: 1 / 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto ;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 400px;
  box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  gap: 17px;
  max-width: 300px;
  min-width: 50px;
}

p {
  text-align: center;
}

/*.form {
  display: grid;
  justify-content: center;
  align-items: center;
  /*grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}*/

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  margin: 10px;
  width: 92%;
  /*margin-bottom: 10px;
  margin-left: 10px;*/
}

.form--button {
  /*grid-column: -1 / -1;*/
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  margin: 20px 10px;
  height: 40px;
}

.footer {
  text-align: center;
  padding: 20px 0;
  color: #999;
  font-size: .9rem;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  height: 65px;
  align-items: center;
  margin: auto 0;
}


/* {
  box-sizing: border-box;
}

/*body {
  background-color: whitesmoke;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
  box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}

.card--image {
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.card--name {
  margin-block: 13px;
  color: #333333;
}

.card--info {
  padding: 10px;
}

.card--favorite {
  width: 25px;
  cursor: pointer;
}

.card--contact {
  font-size: 0.75rem;
  color: gray;
  margin-block: 7px;
}*/